{% extends "base.html" %}
{% load static %}
{% block title %} Shoprizz | Home {% endblock  %}
{% block content %}
{% include "navbar.html" %}
<header class="bg-dark py-5" style="background-image: url('{% static "image/banner.jpg" %}'); background-position: center;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <!-- Content inside the header (if any) -->
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products  %}
                {% if product.is_sale %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <div class="badge bg-dark text-white position-absolute" style="top:0.5rem; right: 0.5rem;">
                            Sale
                        </div>
                        <img class="card-img-top product-image" src="{{product.image.url}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.name}}</h5>
                                <!-- Product price-->
                                    <strike>${{product.price}}</strike>
                                    &nbsp; ${{product.sale_price}}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="row mb-3">
                                <div class="text-center"><button class="btn btn-outline-dark mt-auto add-cart" type="button" value="{{product.id}}" id="add-cart">Add to Cart</button></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url "product" product.id %}">More Info</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top product-image" src="{{product.image.url}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.name}}</h5>
                                <!-- Product price-->
                                ${{product.price}}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="row mb-3">
                                <div class="text-center"><button class="btn btn-outline-dark mt-auto add-cart" type="button" value="{{product.id}}" id="add-cart">Add to Cart</button></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url "product" product.id %}">More Info</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        {% include "pagination.html" %}
    </div>
</section>
{% include "footer.html" %} 
{% endblock  %}